DATABASE_URL="postgresql://username:password@localhost:5432/odin_file_uploader?schema=public"
PORT=3000
SECRET=secret_value
CLOUD_NAME=cloudinary_cloud_name
CLOUD_API_KEY=cloudinary_api_key
CLOUD_SECRET=cloudinary_secret