:root {
    font-family: Arial, Helvetica, sans-serif;
    --inline-space: 32px;
}

input:not([type="file"]) {
    max-width: 200px;
}

body {
    background-color: rgb(245, 245, 245);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px var(--inline-space);
}

header a {
    color: black;
    text-decoration: none;
}

header > div {
    display: flex;
    gap: 12px;
    align-items: center;
}

.form-wrapper {
    margin-block: 42px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:24px;
    padding-inline: var(--inline-space);
    flex-wrap: wrap;
}

.form-wrapper h3 {
    margin-bottom: 24px;
}

.form-wrapper > div {
    padding: 16px 12px;
    box-shadow: 1px 1px 4px rgb(211, 211, 211);
    border-radius: 2px;
    background-color: white;
}

.form-wrapper form > div {
    display: flex;
    flex-direction: column;
    gap:4px;
}

.form-wrapper button {
    margin-top: 12px;
}

.form-wrapper #make-priv-btn {
    margin-bottom: 20px;
}

.form-share-wrapper {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
}

.form-error {
    color: rgb(194, 5, 5);
    font-size: 0.85rem;
}

main {
    margin-inline: var(--inline-space);
    background-color: white;
    box-shadow: 1px 1px 4px rgb(211, 211, 211);
    padding: 16px 12px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table button {
    width: 100%;
    font-size: 0.75rem;
}

td, th {
    padding: 2px 4px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
}

thead {
    font-size: 0.9rem;
    color: gray;
}
th {
    border-bottom: 1px solid gray;
    font-weight: 800;
}

th.name {
    width: 50%;
}

th.date-added {
    width: 25%
}

.name {
    text-overflow: ellipsis;
}

td:not(.name) {
    color: gray;
    font-size: 0.9rem;
}

td.size {
    text-align: right;
}

td.name a {
    color: rgb(22, 87, 141);
    font-weight: 600;
}

.error-container {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    padding-inline: var(--inline-space);
}

.error-container p {
    font-size: 1.2rem
}

.register-form p,
.login-form p {
    max-width: 200px;
}

.register-form button,
.login-form button {
    max-width: 200px;
}

.register-form,
.login-form {
    padding-inline: var(--inline-space);
    padding-block: 32px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgb(211, 211, 211);
    width: fit-content;
    margin: auto;
    background-color: white;
}

.register-form form,
.login-form form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.register-form div > div,
.login-form div > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media screen and (max-width: 1200px) { 
    .form-wrapper > div:last-child {
        grid-column: 1/3;
    }
}

@media screen and (max-width: 660px) {
    th.name {
        width: 30%;
    }

    .button-td {
        padding-inline: 1px;
    }

    .button-td button {
        font-size: 0.7rem;
        height: 100%;
        padding-block: 8px
    }

    header h1 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 486px) {
    .form-wrapper > div:last-child {
        grid-column: 1/2;
    }
}